<div class="overlay">
    <div class="backdrop" (click)="onClose()"></div>
    <div class="modal">
        <div class="confirm-container">
            <header class="headers">
                <h2 class="head-text">Forgot password?</h2>
            </header>
            <div class="main">
                <label for="email">Write your email address:</label>
                <input type="email" id="email" #emailInput>
            </div>
            <div class="action">
                <div class="action-btn">
                    <button (click)="onClose()" type="button" class="cancel-btn">CLOSE</button>
                </div>
                <div class="action-btn">
                    <button (click)="onConfirm(emailInput)" type="button" class="confirm-btn">RESET</button>
                </div>
            </div>
        </div>
    </div>
</div>