<main>
    <section class="filters-section">
        <div class="filters">
            <div class="filters-bar">
                <p>SORT BY</p>
                <div class="filter-selectors">
                    <div class="time-added">
                        <a href="">ADDED</a>
                        <div class="quote-balloon time-balloon">
                            <form class="buttons-container">
                                <button [class]="{'selected': show === 'latest'}" (click)="changeByTimeAdded($event)"
                                    name="latest">LATEST</button>
                                <button [class]="{'selected': show === 'oldest'}" (click)="changeByTimeAdded($event)"
                                    name="oldest">OLDEST</button>
                            </form>
                        </div>
                    </div>
                    <div class="genre">
                        <a href="">GENRE</a>
                        <div class="quote-balloon genre-balloon">
                            <div class="buttons-container">
                                <button [class]="{'selected': genre === 'All'}" (click)="changeGenre($event)"
                                    name="All">ALL</button>
                                <button [class]="{'selected': genre === 'Action'}" (click)="changeGenre($event)"
                                    name="Action">ACTION</button>
                                <button [class]="{'selected': genre === 'Adventure'}" (click)="changeGenre($event)"
                                    name="Adventure">ADVENTURE</button>
                                <button [class]="{'selected': genre === 'Arcade'}" (click)="changeGenre($event)"
                                    name="Arcade">ARCADE</button>
                                <button [class]="{'selected': genre === 'Brain'}" (click)="changeGenre($event)"
                                    name="Brain">BRAIN TRAINING</button>
                                <button [class]="{'selected': genre === 'Casual'}" (click)="changeGenre($event)"
                                    name="Casual">CASUAL</button>
                                <button [class]="{'selected': genre === 'Racing'}" (click)="changeGenre($event)"
                                    name="Racing">DRIVING/RACING</button>
                                <button [class]="{'selected': genre === 'Educational'}" (click)="changeGenre($event)"
                                    name="Educational">EDUCATIONAL</button>
                                <button [class]="{'selected': genre === 'Family'}" (click)="changeGenre($event)"
                                    name="Family">FAMILY</button>
                                <button [class]="{'selected': genre === 'Fighting'}" (click)="changeGenre($event)"
                                    name="Fighting">FIGHTING</button>
                                <button [class]="{'selected': genre === 'Fitness'}" (click)="changeGenre($event)"
                                    name="Fitness">FITNESS</button>
                                <button [class]="{'selected': genre === 'Horror'}" (click)="changeGenre($event)"
                                    name="Horror">HORROR</button>
                                <button [class]="{'selected': genre === 'Music'}" (click)="changeGenre($event)"
                                    name="Music">MUSIC/RHYTHM</button>
                                <button [class]="{'selected': genre === 'Party'}" (click)="changeGenre($event)"
                                    name="Party">PARTY</button>
                                <button [class]="{'selected': genre === 'Puzzle'}" (click)="changeGenre($event)"
                                    name="Puzzle">PUZZLE</button>
                                <button [class]="{'selected': genre === 'Quiz'}" (click)="changeGenre($event)"
                                    name="Quiz">QUIZ</button>
                                <button [class]="{'selected': genre === 'Role'}" (click)="changeGenre($event)"
                                    name="Role">ROLE PLAYING GAMES</button>
                                <button [class]="{'selected': genre === 'Shooter'}" (click)="changeGenre($event)"
                                    name="Shooter">SHOOTER</button>
                                <button [class]="{'selected': genre === 'Simulation'}" (click)="changeGenre($event)"
                                    name="Simulation">SIMULATION</button>
                                <button [class]="{'selected': genre === 'Simulator'}" (click)="changeGenre($event)"
                                    name="Simulator">SIMULATOR</button>
                                <button [class]="{'selected': genre === 'Sport'}" (click)="changeGenre($event)"
                                    name="Sport">SPORT</button>
                                <button [class]="{'selected': genre === 'Strategy'}" (click)="changeGenre($event)"
                                    name="Strategy">STRATEGY</button>
                                <button [class]="{'selected': genre === 'Unique'}" (click)="changeGenre($event)"
                                    name="Unique">UNIQUE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-bar">
            <form (submit)="searchGames($event)">
                <input type="search" placeholder="Search" [formControl]="searchControl">
                <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </section>
    <section class="heading-row">
        <h1>GAMES FOR SALE</h1>
    </section>
    @if (isLoading) {
    <app-loader />
    } @else {
    <section class="games-catalog">
        @if (games.length > 0) {
        @for (game of games; track $index) {
        <div class="card">
            <div class="card-image">
                <img src={{game.imageUrl}} alt="{{game.title}}'s Cover" class="game-image">
            </div>
            <div class="card-content">
                <img src="/{{game.condition}}.png" alt="{{game.condition}} condition" class="condition"
                    title="{{game.condition}} condition">
                <h2>{{game.title}}</h2>
            </div>
            <div class="card-footer">
                <p>{{game.price}} BGN</p>
                <a [routerLink]="['/catalog', game._id, 'details']">DETAILS</a>
            </div>
        </div>
        }
        } @else {
        <p class="backup-text">No games available for sale right now. Check again later!</p>
        }
    </section>
    }
</main>