<div class="overlay">
    <div class="backdrop" (click)="onClose()"></div>
    <div class="modal">
        <div class="confirm-container">
            <header class="headers">
                <h2 class="head-text">BUY GAME</h2>
            </header>
            <div class="main-text">
                <p>Do you want to buy {{gameName}}?</p>
                <p>Send your names, phone number and shipping address to {{seller}}</p>
                <textarea name="personalData" id="personalData"></textarea>
            </div>
            <div class="action">
                <div class="action-btn">
                    <button (click)="onClose()" type="button" class="cancel-btn">CANCEL</button>
                </div>
                <div class="action-btn">
                    <button (click)="onConfirm()" type="button" class="confirm-btn">SEND</button>
                </div>
            </div>
        </div>
    </div>
</div>