<header>
    <nav>
        <div class="navigation">
            <div class="nav-btns group1">
                <a routerLink="/home">HOME</a>
                <a routerLink="/catalog">FOR SALE</a>
                <a routerLink="/sold-games">SOLD GAMES</a>
            </div>
            <div class="logo-img">
                <a routerLink="/home"><img src="./logo.png" alt="logo"></a>
            </div>
            <div class="nav-btns group2">
                <a routerLink="/sell-game">SELL GAME</a>
                @if (!isLoggedIn) {
                    <!-- GUEST -->
                    <a routerLink="/login">LOGIN</a>
                    <a routerLink="/register">REGISTER</a>
                } @else {
                    <!-- USER -->
                    <a routerLink="/profile">MY PROFILE</a>
                    <a routerLink="/logout">LOGOUT</a>
                }
            </div>
        </div>
    </nav>
</header>