<main>
    <section class="sell-game-section">
        <div class="container">
            <div class="form-container">
                <h1>SELL YOUR GAME</h1>
                <form action="">
                    <div class="form-main-content">
                        <div class="left-side">
                            <div class="form-group">
                                <input type="text" name="title" id="title" placeholder="Game title" autocomplete="off" #inputTitle>
                                <label class="err" for="title" hidden>Invalid title format</label>
                            </div>
                            <div class="form-group">
                                <input type="url" name="imageUrl" id="imageUrl" placeholder="Cover photo link"
                                    autocomplete="off" #inputImage>
                                <label class="err" for="imageUrl" hidden>Invalid image format</label>
                            </div>
                            <div class="form-group">
                                <input type="text" name="platform" id="platform" placeholder="Platform /e.g. PS5/"
                                    autocomplete="off" #inputPlatform>
                                <label class="err" for="platform" hidden>Invalid platform format</label>
                            </div>
                            <div class="form-group">
                                <input type="number" step="0.01" min="0" max="200" name="price" id="price"
                                    placeholder="Price /e.g. 59.99/" autocomplete="off" #inputPrice>
                                <label class="err" for="price" hidden>Invalid price format</label>
                            </div>
                            <div class="form-group condition-select">
                                <label for="condition">Game condition</label>
                                <select id="condition" name="condition" #inputCondition>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Good">Good</option>
                                    <option value="Average">Average</option>
                                    <option value="Poor">Poor</option>
                                    <option value="Bad">Bad</option>
                                </select>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="genre-checkboxes">
                                <div class="genre-col">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="action" name="action" [(ngModel)]="selectedGenres.Action">
                                        <label for="action">Action</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="casual" name="casual" [(ngModel)]="selectedGenres.Casual">
                                        <label for="casual">Casual</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="fighting" name="fighting" [(ngModel)]="selectedGenres.Fighting">
                                        <label for="fighting">Fighting</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="party" name="party" [(ngModel)]="selectedGenres.Party">
                                        <label for="party">Party</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="shooter" name="shooter" [(ngModel)]="selectedGenres.Shooter">
                                        <label for="shooter">Shooter</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="strategy" name="strategy" [(ngModel)]="selectedGenres.Strategy">
                                        <label for="strategy">Strategy</label>
                                    </div>
                                </div>
                                <div class="genre-col">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="adventure" name="adventure" [(ngModel)]="selectedGenres.Adventure">
                                        <label for="adventure">Adventure</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="racing" name="racing" [(ngModel)]="selectedGenres['Driving/Racing']">
                                        <label for="racing">Driving/Racing</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="fitness" name="fitness" [(ngModel)]="selectedGenres.Fitness">
                                        <label for="fitness">Fitness</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="puzzle" name="puzzle" [(ngModel)]="selectedGenres.Puzzle">
                                        <label for="puzzle">Puzzle</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="simulation" name="simulation" [(ngModel)]="selectedGenres.Simulation">
                                        <label for="simulation">Simulation</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="unique" name="unique" [(ngModel)]="selectedGenres.Unique">
                                        <label for="unique">Unique</label>
                                    </div>
                                </div>
                                <div class="genre-col">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="arcade" name="arcade" [(ngModel)]="selectedGenres.Arcade">
                                        <label for="arcade">Arcade</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="educational" name="educational" [(ngModel)]="selectedGenres.Educational">
                                        <label for="educational">Educational</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="horror" name="horror" [(ngModel)]="selectedGenres.Horror">
                                        <label for="horror">Horror</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="quiz" name="quiz" [(ngModel)]="selectedGenres.Quiz">
                                        <label for="quiz">Quiz</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="simulator" name="simulator" [(ngModel)]="selectedGenres.Simulator">
                                        <label for="simulator">Simulator</label>
                                    </div>
                                </div>
                                <div class="genre-col">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="brain" name="brain" [(ngModel)]="selectedGenres['Brain training']">
                                        <label for="brain">Brain training</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="family" name="family" [(ngModel)]="selectedGenres.Family">
                                        <label for="family">Family</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="music" name="music" [(ngModel)]="selectedGenres['Music/Rhythm']">
                                        <label for="music">Music/Rhythm</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="role" name="role" [(ngModel)]="selectedGenres['Role playing games']">
                                        <label for="role">Role playing games</label>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="sport" name="sport" [(ngModel)]="selectedGenres.Sport">
                                        <label for="sport">Sport</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="description" id="description" placeholder="Game description" #inputDescription></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-btn">
                        <button class="btn" (click)="addGame($event, inputTitle.value, inputImage.value, inputPlatform.value, inputPrice.value, inputCondition.value, selectedGenres, inputDescription.value)">SUBMIT GAME FOR SALE</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>