<main>
    <section class="auth-section">
        <div class="container">
            <div class="form">
                <h1>LOGIN</h1>
                <form>
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="Enter your email address"
                            autocomplete="off">
                        <label for="email" hidden>Email is required</label>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="Enter your password"
                            autocomplete="off">
                        <label for="password" hidden>Password is required</label>
                    </div>
                    <div class="login-links">
                        <a href="">Forgot password?</a>
                    </div>
                    <div class="form-group">
                        <button class="btn">SIGN IN</button>
                    </div>
                </form>
                <div class="helpful-links">
                    <h4>Don't have an account? <a routerLink="/register">Register</a></h4>
                </div>
            </div>
        </div>
    </section>
</main>