<main>
    @if (errorMsg) {
        <app-error-msg />
    }

    <section class="auth-section">
        <div class="container">
            <div class="form">
                <h1>LOGIN</h1>
                <form [formGroup]="form" (ngSubmit)="login()">

                    <div class="form-group">
                        <input
                            [class]="inputMissing('email') || emailNotValid ? 'input-error' : ''"
                            type="email" name="email" id="email" placeholder="Enter your email address"
                            autocomplete="off" formControlName="email" />
                        @if (form.get('email')?.touched) {
                        @if (form.get('email')?.errors?.['required']) {
                        <label for="email">Email is required</label>
                        }
                        @if (form.get('email')?.errors?.['emailValidator']) {
                        <label for="email">Email is not valid</label>
                        }
                        }
                    </div>

                    <div class="form-group">
                        <input
                            [class]="inputMissing('password') || isUnderMinLength ? 'input-error' : ''"
                            type="password" name="password" id="password" placeholder="Enter your password"
                            autocomplete="off" formControlName="password">
                        @if (form.get('password')?.touched) {
                        @if (form.get('password')?.errors?.['required']) {
                        <label for="password">Password is required</label>
                        }
                        @if (form.get('password')?.errors?.['minlength']) {
                        <label for="password">Password must be at least 6 characters</label>
                        }
                        }
                    </div>

                    <div class="login-links">
                        <a (click)="showResetPasswordModal()">Forgot password?</a>
                    </div>
                    @if (showModal) {
                        <app-reset-password-modal 
                            (closeModal)="showResetPasswordModal()"
                            (confirmModal)="onResetPassword($event)"
                        />
                    }
                    @if (hasSuccess) {
                        <app-success-modal message="Check your email for your new password!" />
                    }
                    <div class="form-group">
                        <button [class]="form.invalid ? 'btn-disabled' : 'btn'" [disabled]="form.invalid">SIGN IN</button>
                    </div>
                </form>
                <div class="helpful-links">
                    <h4>Don't have an account? <a routerLink="/register">Register</a></h4>
                </div>
            </div>
        </div>
    </section>
</main>