<div class="overlay">
    <div class="backdrop" (click)="onClose()"></div>
    <div class="modal">
        <div class="confirm-container">
            <header class="headers">
                <h2 class="head-text">Terms of service</h2>
            </header>
            <div class="main-text">
                <div class="condition">
                    <h3>1. Introduction</h3>
                    <p>Welcome to SellSpot. These Terms of Service govern the use of our services provided through the
                        SellSpot platform. By accessing or using our services, you agree to comply with these terms. If
                        you do not agree with any part of these terms, you should not use our services.</p>
                </div>
                <div class="condition">
                    <h3>2. Acceptance of Terms</h3>
                    <p>By accessing and using our services, you agree to comply with and be bound by these Terms of
                        Service. If you disagree with any part of these terms, you must discontinue using our services
                        immediately.</p>
                </div>
                <div class="condition">
                    <h3>3. Use of Services</h3>
                    <p>You are authorized to use the services provided by SellSpot in accordance with these Terms of
                        Service. You agree not to use our services for unlawful purposes or in any manner that could
                        damage, disable, overburden, or impair the services or interfere with any other party's use of
                        the services.</p>
                </div>
                <div class="condition">
                    <h3>4. Account Registration</h3>
                    <p>In order to access certain features of our services, you must create an account. You agree to
                        provide accurate, current, and complete information during the registration process and to
                        maintain the security and accuracy of this information.</p>
                </div>
                <div class="condition">
                    <h3>5. Purchases and Payments</h3>
                    <p>By using our services to make a purchase, you agree to provide accurate and complete information
                        for all transactions. All purchases made through SellSpot are subject to our payment terms and
                        pricing policies, and you agree to pay for all products or services ordered via the platform.
                    </p>
                </div>
                <div class="condition">
                    <h3>6. Prohibited Activities</h3>
                    <p>You may not use the services for any illegal activities or in violation of any applicable laws.
                        You also agree not to engage in any activity that could harm, disrupt, or gain unauthorized
                        access to our platform or the servers that host our services.</p>
                </div>
                <div class="condition">
                    <h3>7. Intellectual Property Rights</h3>
                    <p>All content and materials provided through SellSpot, including but not limited to text, graphics,
                        logos, images, and software, are protected by intellectual property laws and are the property of
                        SellSpot or its licensors. You may not use any of these materials without permission.</p>
                </div>
                <div class="condition">
                    <h3>8. Limitation of Liability</h3>
                    <p>To the maximum extent permitted by law, SellSpot shall not be liable for any damages or losses
                        arising from the use of or inability to use our services, including, without limitation, any
                        direct, indirect, incidental, special, or consequential damages, loss of business profits, or
                        any other form of damage.</p>
                </div>
                <div class="condition">
                    <h3>9. Modifications to Terms</h3>
                    <p>SellSpot reserves the right to modify these Terms of Service at any time. Any changes will be
                        posted on this page, and your continued use of our services after such changes will be deemed as
                        your acceptance of the new terms.</p>
                </div>
                <div class="condition">
                    <h3>10. Modifications to Terms</h3>
                    <p>SellSpot reserves the right to suspend or terminate your access to our services at any time,
                        without notice, if you violate these Terms of Service.</p>
                </div>
                <div class="condition">
                    <h3>11. Contact Us</h3>
                    <p>If you have any questions or concerns regarding these Terms of Service, please contact us at
                        <a routerLink="#">{{'admin@abv.bg'}}</a>.</p>
                </div>
            </div>
            <div class="action">
                <div class="action-btn">
                    <button (click)="onClose()" type="button">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>